# This file is a template, and might need editing before it works on your project.
# Full project: https://gitlab.com/pages/plain-html

image: python:latest

pages:
  stage: deploy
  script:
  - apt-get update
  - apt-get install python3-sphinx
  - make html
  - cp -R -T build/html public
  artifacts:
    paths:
    - public
  only:
  - master
 